.main {
    padding: 52px 0 0 61px;
    background: url(Cutlery.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 628px;
    background-position-y: -77px;
    background-position-x: 81px;
    margin-right: -8px;
}

.main p {
    background: white;
    width: max-content;
    color: black;
    font-family: sans-serif;
    font-size: 21px;
    text-shadow: 0 0 black;
    padding-right: 23px;
    padding-left: 23px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header h2 {
    font-size: 50px;
    color: #0639C1;
}

.main h2 {
    font-size: 69px;
    color: #0639C1;
    margin-top: 10px;
    line-height: 90px;
    margin-bottom: 66px;
}

.desc h2 {
    font-size: 40px;
    color: #0639C1;
    margin-left: 395px;
}

.selected {
    color: #0639C1;
    text-shadow: 0 0 #0639C1;
}

body {
    padding-left: 72px;
    padding-top: 30px;
    font-family: 'Rozha One', serif;
    white-space: nowrap;
}

.header {
    margin-top: -50px;
    margin-bottom: 13px;
}

.header h2 {
    margin-bottom: 5px;
}

hr {
    border-bottom: none;
    margin-left: -80px;
    margin-right: -8px;
    border-color: black;
}

.desc {
    padding-bottom: 11px;
    padding-top: 25px;
}

.menu {
    padding-top: 20px;
    padding-bottom: 49px;
    font-size: 14.5px;
    font-family: sans-serif;
    text-shadow: 0 0 black;
}

.menu span {
    margin-right: 16px;
}

.tile {
    display: inline-block;
}

.tile div {
    width: min-content;
    margin-right: 37px;
}

.tile p {
    text-align: center;
    color: #0639C1;
    font-size: 29px;
    margin-top: 55px;
    margin-bottom: 104px;
    padding-right: 11px;
}

.bottom p {
    margin-bottom: 65px;
}

.tile img {
    background-color: #A4E1E9;
    padding-right: 25px;
}
